.pageTitle{
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
 }


 .btnDelete{
    background-color: red;
    color: white;
  }

  .btnDownload{
    background-color: green;
    color: #fff;
  }
  
