footer{
    margin-top: 10vh;
    background-color: #4c9cf1;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: auto;
    color:#fff;
  }
  
  footer .footerContainer{
    flex-grow:1;
    display: flex;
    justify-content: space-between;
  }
  
  
  footer .footerContent{
    text-align: right;
    margin-right: 5vw;
   
    color: #fff;
  }
  footer .bottomBar{
    text-align: center;
    padding-top: 10px;
    margin-top: auto; 
  }
  
  footer .bottomBar p{
    color: #fff;
    font-size: 16px;
  }
  
  