/*here is the styling of every form in the app*/
form hr{
    color:#003366;
    margin-bottom: 10px;
    
  }

.pageTitle{
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
  }
  
  form {
    max-width: 600px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 30%;
   
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .personalInformation,
  .additionalInformation {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    color: #003366;
    margin-bottom: 10px;
  }
  
  .formGroupInline {
    display: flex;
    justify-content: space-between;
  }
  
  .formGroupInline div {
    flex: 1;
    margin-right: 10px;
  }
  
  .formGroupInline div:last-child {
    margin-right: 0;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #003366;
  }
  
  form input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="number"],
  input[type="password"],
  select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #b7ddf1;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
  }
  .btnDelete{
    background-color: red;
    color: white;
  }

  .btnDownload{
    background-color: green;
    color: #fff;
  }
  
  button:hover {
    opacity: 0.9;
  }