/* Header navigation bar */
.header {
    background-color: #4774e6;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 9vh;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Navigation links container */
  .nav-links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Individual button styling */
  .nav-button {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: font-size 0.3s ease;
    cursor: pointer;
    font-size: 25px;
  }
  
  /* Logo container */
  .logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Logo image styling */
  .logo {
    height: 10vh;
    transition: height 0.2s ease;
  }
  
  .logo:hover {
    height: 10.5vh;
  }
  
  /* Side Navigation */
  .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
    top: 0;
    left: 0;
    padding-bottom: 40px;
  }
  
  /* Side navigation open */
  .side-nav.open {
    width: 300px;
  }
  
  /* Sidebar link styling */
  .side-nav-link,
  .side-nav-link button {
    padding: 10px;
    margin: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #4774e6;
    background-color: white;
    border: 1px solid #4774e6;
    border-radius: 5px;
    display: block;
    width: calc(100% - 40px);
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
  }
  
  /* Hover effect for sidebar links/buttons */
  .side-nav-link:hover,
  .side-nav-link button:hover {
    box-shadow: 0px 0px 5px 2px #003366;
    transform: scale(1.02);
  }
  
  /* Close button in the sidebar */
  .side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 25px;
    background-color: #fff;
    color: #4774e6;
    border: none;
    padding-top: 20px;
    padding-right: 17px;
    cursor: pointer;
  }
  
  /* Logo at the bottom of the sidebar */
  .side-nav .logo-link {
    position: absolute;
    left: 50%;
    margin-top: auto;
    padding-top: 80px;
    transform: translateX(-50%);
  }
  
  /* Sidebar logo styling */
  .side-nav-logo {
    height: 9vh;
  }
  
  /* Overlay for darkening the background when the side nav is open */
  .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
    top: 0;
    left: 0;
    padding-bottom: 40px;
  }
  
  .side-nav.open {
    width: 350px;
  }
  
  /* Overlay for darkening the background when the side nav is open */
  .side-nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black */
    z-index: 1000; /* Should be below the side-nav */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
  
  /* Show the overlay when the side-nav is open */
  .side-nav-overlay.visible {
    opacity: 1;
    visibility: visible;
  }
  
  
  /* Responsive design adjustments */
  @media (max-width: 768px) {
    .side-nav-overlay {
      display: none;
    }

    /* Adjust logo positioning on smaller screens */
    .logo-container {
      left: auto;
      right: 20px;
      transform: none;
    }
  
    .nav-button {
      order: 1;
    }
  
    .side-nav.open {
      width: 100%;
    }
  
    .side-nav .closebtn {
      right: 20px;
      top: 0;
    }
  
    .side-nav .logo-link {
      bottom: 100px;
    }
  }
  