@import url('./style/Loading.css');

@import url('./style/Header.css');
@import url('./style/Footer.css');

@import url('./style/Home.css');

@import url('./style/Profile.css');

@import url('./style/Login.css');
@import url('./style/Register.css');

@import url('./style/Voyage.css');
@import url('./style/Voyages.css');
@import url('./style/VoyageCreate.css');

@import url('./style/Document.css');
@import url('./style/DocumentCreate.css');
@import url('./style/Documents.css');
@import url('./style/DocumentScan.css');

@import url('./style/Course.css');
@import url('./style/Courses.css');
@import url('./style/CourseCreate.css');
@import url('./style/CourseAttendees.css');
@import url('./style/AddAttendee.css');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

