@import url('./style-AK/Loading.css');

@import url('./style-AK/Header.css');
@import url('./style-AK/Footer.css');

@import url('./style-AK/Home.css');
@import url('./style-AK/Menu.css');

@import url('./style-AK/Profile.css');

@import url('./style-AK/Login.css');
@import url('./style-AK/Register.css');

@import url('./style-AK/Voyage.css');
@import url('./style-AK/Voyages.css');
@import url('./style-AK/VoyageCreate.css');

@import url('./style-AK/Document.css');
@import url('./style-AK/DocumentCreate.css');
@import url('./style-AK/Documents.css');

@import url('./style-AK/CrewPool.css');


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

