@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

.single-document h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #003366;
    font-family: 'Oswald', sans-serif;
}

.document-update-container {
    max-width: 1000px;
    margin: 20px auto; /* Added margin for some space on the sides */
    margin-bottom: 60px;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    color: #003366;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid #4774e6;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    flex: 1;
    max-width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}

.image-container button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0); /* Initial transparent background */
    color: #003366;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    opacity: 0;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.image-container button i {
    margin-right: 8px;
    font-size: 18px;
}

.image-container:hover button {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7); /* Transparent white on hover */
}

.form-container {
    flex: 2;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px; /* Added padding to the form */
    border-radius: 7px;
}

.form-container label {
    display: flex;
    flex-direction: column;
    color: #003366;
    font-size: 18px;
}

.form-container input[type="text"],
.form-container input[type="date"] {
    padding: 10px;
    border: 1px solid #4774e6;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.buttons-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: flex-end;
}

.buttons-container button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid;
}

.button-update {
    color: #4CAF50;
    border-color: #4CAF50;
    background-color: #fff;
}

.button-update:hover {
    background-color: #4CAF50;
    color: #fff;
}

.button-delete {
    color: #f44336;
    border-color: #f44336;
    background-color: #fff;
}

.button-delete:hover {
    background-color: #f44336;
    color: #fff;
}

.button-download {
    color: #4774e6;
    border-color: #4774e6;
    background-color: #fff;
}

.button-download:hover {
    background-color: #4774e6;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .document-update-container {
        display: block;
        padding: 0;
        align-items: center;
        margin: 10px; /* Added margin to the sides of the container */
        margin-bottom: 40px;
    }

    .image-container {
        max-width: 100%;
        padding: 20px;
    }

    .form-container {
        max-width: 100%;
    }

    .form-container input[type="text"],
    .form-container input[type="date"] {
        width: 100%; /* Make the input fields as wide as the image */
    }

    .buttons-container {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .buttons-container button {
        width: 100%; /* Make the buttons as wide as the image */
    }
}