.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 10px;
    background-color: #f9f9f9;
}

.camera-view {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.camera-container button {
    margin-top: 10px;
}


.document-scan-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: auto;
    margin: 50px auto;
    max-width: 90vw;
}

.document-scan-container img {
    width: 300px;
}

.document-scan-container h2 {
    font-size: 40px;
    color: #003366;
    margin: 15px;
}

.btn-scanner {
    width: 300px;
    margin-bottom: 15px;
    padding: 10px 20px;
    border: 1px solid #4774e6;
    border-radius: 5px;
    color: #4774e6;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-scanner:hover {
    background-color: #4774e6;
    color: #fff;
}

@media (max-width: 768px) {
    .document-scan-container {
        margin: 20px auto;
        height: auto;
        padding: 10px;
    }

    .document-scan-container img {
        width: 200px;
    }

    .document-scan-container h2 {
        font-size: 30px;
    }

    .btn-scanner {
        width: 80vw;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .document-scan-container img {
        width: 150px;
    }

    .document-scan-container h2 {
        font-size: 24px;
    }

    .btn-scanner {
        width: 90vw;
        font-size: 12px;
    }
}
