@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

.create-document-container {
    max-width: 760px;
    margin: 50px auto;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    color: #003366;
    border: 1px solid #4774e6; /* Only border around the container */
    border-radius: 5px;
    background-color: #fff;
}

.create-document-container h1 {
    text-align: center;
    color: #003366;
    margin-bottom: 20px;
}

.create-document-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.form-group label {
    color: #003366;
    font-size: 18px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.image-preview-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-preview {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}

.change-image-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: #003366;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    opacity: 0;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.change-image-button i {
    margin-right: 8px;
    font-size: 18px;
}

.image-preview-container:hover .change-image-button {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7); /* Transparent white on hover */
}

.btn-create-one-document {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid #4CAF50;
    color: #4CAF50;
    background-color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-create-one-document:hover {
    background-color: #4CAF50;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {

    .create-document-form {
        display: block;
        gap: 0;
        padding: 0px;
    }
    .create-document-container {
        padding: 0px;
        margin: 50px 10px;
        display: block;
    }

    .btn-create-document {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 40px;
    }
}
