@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

.login-body {
    min-height: calc(65vh - 40px); /* Full height minus any top/bottom padding */
    padding: 50px 0; /* Adds padding to the top and bottom of the entire login body */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 100%;
    max-width: 600px; /* Slightly narrower for login */
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    border: 1px solid #4774e6; /* Form border color */
    box-sizing: border-box;
    margin: auto;
}

.login-form h1 {
    color: #003366;
    margin-bottom: 20px;
    text-align: center;
}

.login-form label {
    color: #003366;
    display: block;
    margin-bottom: 5px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #4774e6; 
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
}

.login-form button {
    padding: 10px 20px;
    border: 1px solid #4774e6;
    border-radius: 5px;
    color: #4774e6;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%; /* Full width button */
    margin-top: 20px;
}

.login-form button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.login-form button:hover:not(:disabled) {
    background-color: #4774e6;
    color: #fff;
}

.login-form p {
    color: #003366;
    text-align: center;
}

.login-form a {
    color: #4774e6;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-body {
        min-height: calc(70vh - 40px);
    }
    .login-form {
        width: 90%;
        margin: auto;
        padding: 15px;
    }

    .login-form button {
        font-size: 18px;
        padding: 15px;
    }
}
